<!DOCTYPE html>
<html>
<head>

	<style type="text/css">
		html
		{
			scroll-behavior: smooth;
		}
		body{
			font-family: "Times New Roman",Georgia,Serif;

		}
		h1,h2,h3,h4,h5,h6{
			font-family: "playfair Display";
			letter-spacing: 5px;

		}
		a{
			letter-spacing: 2px;
			font-size: 18px;
		}
		.container-fluid{
			margin:0px;
			padding: 0px;
		}
	</style>
	<title>Ship Cargo</title>
</head>
<body>
<div class="container-fluid" style="margin: 0px;padding:0px;">
	<nav class="navbar navbar-expand-lg navbar-light bd-light">
		
		<h1><img src="http://localhost:3000/images/img7.jfif" height="50px" width="80px"></h1>
		<h2 style="font-weight: 900 !important; color: black !important;font-family: playfair Display;letter-spacing: 5px;">&nbsp; <strong>ğ—¦ğ—˜ğ—” ğ—–ğ—”ğ—¥ğ—šğ—¢</strong></h2>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#about"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#inq"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Inquiry</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user" aria-hidden="true"></i>&nbsp;User Account
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/Users/signin"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign In</a>
						
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/Users/signup"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Sign Up</a>
					</div>
				</li>
				
			</ul>
		</div>
	</nav>
  </div>




	
	</body>
	</html>